{% extends "base.html" %}

{% block content %}

<title>Error 404</title>
<br>

<div class="order">
    <div class = "small-container">
        <div class ="row">
            <div class="error">
                <br>
                <br>
                <p>4 0 4</p>
                <br>
                <br>
                <h2>Ooops!</h2>
                <br>
                <h1>We couldn't find your page. Let us help you get home</h1>
                <br>
                <br>
            </div>
        </div>
    </div>
</div>

<br>

{% endblock %}
