{% extends "base.html" %}
{% set active_page = "about" %}
{% block content %}
    <title>About</title>

    <br>
    <div class="offer">
        <div class="small-container">
            <div class="row">
                <div class="col-2">
                    <img src="static/about2.png" class="offer-img">
                </div>
                <div class="col-2">
                    <p></p>
                    <h1>About GYMFIT</h1>
                    <p>GYMFIT is a new web app developed focussing on helping you keep track off their dietary, workout
                        and supplement history and progress. The app is web based so you can access it from any web
                        browser; making it easily accessible wether you are on the go, in the gym or sat at home. TThis
                        aims to help you achieve your fitness goals. </p>
                </div>
            </div>
        </div>
    </div>

    <br>
    <br>


    <div class="offer">
        <div class="small-container">
            <div class="row">
                <div class="col-2">
                    <p></p>
                    <h1>How GYMFIT Started</h1>
                    <p> I noticed a lack of applications that offer users the high portability of using an app on any
                        device or the functionality of recording every element of their fitness journey often results in
                        people losing track of what they are doing. This can lead to poor optimisation of all these
                        areas of fitness. To record all aspects of your fitness you often need multiple apps; making the
                        whole process more tedious and boring. Therefore I decided to develop an app that people want to
                        use and is easy to use. </p>
                </div>
                <div class="col-2">
                    <img src="static/about1.png" class="offer-img">
                </div>
            </div>
        </div>
    </div>

    <br>
    <br>

    <div class="small-container">
        <div class="reviews">
            <div class="small-container">
                <h2 style="text-align:center">The One Man Team</h2>
                <div class="row">
                    <div class="col-3">
                    </div>

                    <div class="col-3">
                        <img src="static/headshot3.jpg">
                        <div class="aboutcontainer">
                            <h2>Edward Priestley</h2>
                            <p style="text-align: center" class="aboutrole">Founder</p>
                            <small>I am Ed, I am the creator of this web application. This is part of my dissertation
                                project for my degree in software engineering. I have a large interest in fitness and
                                havent been able to find a service / app that allows me to tradk every aspect of my
                                performance. Therefore I decided to develop my own application. I hope this can help
                                everyone reach their goal</small>
                            <br></br>
                            <small>s5110408@bournemouth.ac.uk</small>
                        </div>
                    </div>

                    <div class="col-3">
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
