{% extends "base.html" %}
{% block content %}

<title>Workout Submitted</title>
<br>
<br>

<div class="offer">
    <div class = "small-container">
        <h2 class = "title">You Submitted:</h2>
    </div>
</div>
<div class="container">
    <div class ="welcomeRow">
        <div class="col-3">
            <h1> {{ wrkName }}</h1>
            <h1>on</h1>
            <h1>{{ wrkDate }}</h1>
        </div>
        <div class ="col-3-2">
            <br>
            <table style = "width:100%" BORDER="1">
                <tr>
                    <td> {{ wrkEx1 }}</td>
                    <td> {{ wrkWeight1 }}</td>
                    <td>{{ wrkRep1 }}</td>
                    <td>{{ wrkSet1 }}</td>
                    <td>{{ wrkNote1 }}</td>
                </tr>
                <tr>
                    <td> {{ wrkEx2 }}</td>
                    <td> {{ wrkWeight2 }}</td>
                    <td>{{ wrkRep2 }}</td>
                    <td>{{ wrkSet2 }}</td>
                    <td>{{ wrkNote2 }}</td>
                </tr>
                <tr>
                    <td> {{ wrkEx3 }}</td>
                    <td> {{ wrkWeight3 }}</td>
                    <td>{{ wrkRep3 }}</td>
                    <td>{{ wrkSet3 }}</td>
                    <td>{{ wrkNote3 }}</td>
                </tr>
                <tr>
                    <td> {{ wrkEx4 }}</td>
                    <td> {{ wrkWeight4 }}</td>
                    <td>{{ wrkRep4 }}</td>
                    <td>{{ wrkSet4 }}</td>
                    <td>{{ wrkNote4 }}</td>
                </tr>
                <tr>
                    <td> {{ wrkEx5 }}</td>
                    <td> {{ wrkWeight5 }}</td>
                    <td>{{ wrkRep5 }}</td>
                    <td>{{ wrkSet5 }}</td>
                    <td>{{ wrkNote5 }}</td>
                </tr>
                <tr>
                    <td> {{ wrkEx6 }}</td>
                    <td> {{ wrkWeight6 }}</td>
                    <td>{{ wrkRep6 }}</td>
                    <td>{{ wrkSet6 }}</td>
                    <td>{{ wrkNote6 }}</td>
                </tr>
                <tr>
                    <td> {{ wrkEx7 }}</td>
                    <td> {{ wrkWeight7 }}</td>
                    <td>{{ wrkRep7 }}</td>
                    <td>{{ wrkSet7 }}</td>
                    <td>{{ wrkNote7 }}</td>
                </tr>
                <tr>
                    <td> {{ wrkEx8 }}</td>
                    <td> {{ wrkWeight8 }}</td>
                    <td>{{ wrkRep8 }}</td>
                    <td>{{ wrkSet8 }}</td>
                    <td>{{ wrkNote8 }}</td>
                </tr>
                <tr>
                    <td> {{ wrkEx9 }}</td>
                    <td> {{ wrkWeight9 }}</td>
                    <td>{{ wrkRep9 }}</td>
                    <td>{{ wrkSet9 }}</td>
                    <td>{{ wrkNote9 }}</td>
                </tr>
                <tr>
                    <td> {{ wrkEx10 }}</td>
                    <td> {{ wrkWeight10 }}</td>
                    <td>{{ wrkRep10 }}</td>
                    <td>{{ wrkSet10 }}</td>
                    <td>{{ wrkNote10 }}</td>
                </tr>
            </table>
            <br>
        </div>
    </div>
</div>

{% endblock %}
