{% extends "base.html" %}

{% block content %}

    <title>Error 404</title>
    <br>

    <div class="order">
        <div class="small-container">
            <div class="row">
                <div class="error">
                    <br>
                    <br>
                    <p>Oops</p>
                    <br>
                    <br>
                    <h2>Something went wrong</h2>
                    <br>
                    <h1>Please make sure you are logged in and try again</h1>
                    <br>
                    <br>
                    <br>
                    <h1>Error:</h1>
                    <h1>{{ e }}</h1>
                </div>
            </div>
        </div>
    </div>

    <br>

{% endblock %}
