{% extends "base.html" %}
{% set active_page = "home" %}
{% block content %}


<title>Terms & Conditions</title>
<br>
<br>

<div class="offer">
    <div class = "small-container">
        <h2 class = "title">Terms & Conditions:</h2>
            <br>
            <br>
            <p2>All information included in the application is subject to opinions. Edward Priestley is not a doctor or registered dietitian. The contents of usage of the application should not be taken as medical advice. It is not intended to diagnose, treat, cure, or prevent any health problem - nor is it intended to replace the advice of a physician. Always consult your physician or qualified health professional on any matters regarding your health. Use of the information in this program is strictly at your own risk. Edward Priestley will not assume any liability for any direct or indirect losses or damages that may result including, but not limited to, economic loss, injury, illness or death.</p2>
    </div>
</div>




{% endblock %}
